.input
{
    font-family: 'Fira Code', monospace !important;
}
.title
{
    text-align: center;
}
.container
{
    margin-top: 1em;
    max-width: 90%;
}

.table-length-input 
{
    display: inline-block;
    width: 8%;
}

.table
{
    font-family: 'Fira Code', monospace !important;
    table-layout: fixed;
    margin-top: 1em;
    font-size: 0.75em;
}

th
{
    text-align: right !important;
}

tr > th:first-child {

    width: 6em;

}

td
{
    text-align: center !important;
}

ol[is=hex-input-list]
{
    display: inline-block;
    margin-bottom: 1em;
}

ol[is=hex-input-list] > li
{
    display: inline;
}

ol[is=hex-input-list] .input
{
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
    width: 1em;
    height: 1em;
    caret-color: transparent;
}

ol[is=hex-input-list] .input.is-static
{
    width: 1.5em;
}

ol[is=hex-input-list] .input:not(.is-static):focus
{
    background-color: #00d1b2;
}

.footer {
    background-color: unset;
}